.home-content {
  background-image: url("../styles/images/imgTamatave.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 80px;
  margin-bottom: 40px;
}
.home-content-item {
  width: 100%;
  background-color: #61616173;
  position: relative;
}
.home-content-item > * {
  position: relative;
  animation: slideIn 1.5s ease-in-out forwards;
}

@keyframes slideIn {
  from {
    left: -200px;
    opacity: 0%;
  }
  to {
    left: 0px;
    opacity: 100%;
  }
}

.home-content img {
  width: 350px;
}
.home-menu {
  height: 400px;
  width: 400px;
  padding: 20px;
}
.btn-login,
.btn-create-account,
.btn-search {
  width: 300px;
}
.btn-search {
  background-color: #dfa100 !important;
  color: #101010 !important;
}
.btn-search:hover {
  background-color: #ffb700 !important;
}
.btn-login {
  border: 1px solid #dfa100 !important;
  background-color: #9797976e !important;
  color: #101010 !important;
}
.btn-login:hover {
  background-color: #cfcfcf6e !important;
}
.btn-create-account {
  background-color: #101010 !important;
  color: #d9d9d9 !important;
  text-decoration: underline !important;
}
.btn-create-account:hover {
  background-color: #313131 !important;
}

/* responsive Mobile */
@media screen and (max-width: 375px) {
  .home-content img {
    width: 240px;
  }
  .btn-login,
  .btn-create-account,
  .btn-search {
    width: 200px;
    font-size: 12px !important;
  }
  .home-menu {
    width: 300px;
  }
}
