* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: ubuntu;
  src: url("../styles/font/Ubuntu/Ubuntu-Regular.ttf");
}
main {
  margin-top: 60px;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #d9d9d9;
}
.container-fluid {
  --bs-gutter-x: 0rem;
}
.btn {
  cursor: pointer !important;
  border-radius: 20px !important;
  box-shadow: 0px 5px 5px 0px #242424 !important;
}
